######  Insert Records Directly And Take Input From User Into CSV File.

In [6]:
def insert_records(attribute,records,list_of_records):
    pass

attribute=['StudentId','StudentName','City','Contact_Number']

#Insert 5 records Directly
records=[[11,'Jay Patel','Surat',9510500989],
        [12,'Shree Rajput','Mumbai',9511100989],
        [14,'Om Vyas','Surat',9911500989],
        [13,'Krishna Prajapati','Delhi',9510522989],
        [15,'Shiv Pandya','Surat',9712530989]]

# Insert 5 records By User
list_of_records=[]
for i in range(5):
        no=int(input(" Enter ID Of Student : "))
        name=input(" Enter Name Of Student : ")
        city=input(" Enter City Of Student : ")
        phoneno=int(input(" Enter Contact Number Of Student : "))
        li=[no,name,city,phoneno]
        list_of_records.append(li)

 Enter ID Of Student : 16
 Enter Name Of Student : Radhika Jaiswal
 Enter City Of Student : Bardoli
 Enter Contact Number Of Student : 7989675432
 Enter ID Of Student : 17
 Enter Name Of Student : Sweta Patel
 Enter City Of Student : Surat
 Enter Contact Number Of Student : 9923783333
 Enter ID Of Student : 18
 Enter Name Of Student : Rohit Pandey
 Enter City Of Student : Valsad
 Enter Contact Number Of Student : 7989654323
 Enter ID Of Student : 19
 Enter Name Of Student : Rohit Sharma
 Enter City Of Student : Mumbai
 Enter Contact Number Of Student : 9995671050
 Enter ID Of Student : 20
 Enter Name Of Student : Subham Gill
 Enter City Of Student : Vadodara
 Enter Contact Number Of Student : 9932334565

###### Write Above Records Into student.csv File.

In [7]:
def write_on_csvfile():
    import csv as c
    with open('D:\PythonPractice\student.csv','w',newline='') as csvobj:
        whole_file=c.writer(csvobj)
        whole_file.writerow(attribute)
        whole_file.writerows(records)
        whole_file.writerows(list_of_records)

###### Read Student.csv File And Print It.

In [10]:
def read_csvfile():
    import csv
    
    with open('D:\PythonPractice\student.csv', 'r') as obj:
        allrecords_of_file = csv.DictReader(obj)
        
        # For Printing header
        header = "{:^12} {:^20} {:^15} {:^15}".format('StudentId', 'StudentName', 'City', 'Contact_Number')
        print(header,"\n")
        
              
        # For Printing records
        for records in allrecords_of_file:
            record_line = "{:^12} {:^20} {:^15} {:^15}".format(records['StudentId'], records['StudentName'], records['City'], records['Contact_Number'])
            print(record_line)

###### Function Call

In [11]:
insert_records(attribute, records,list_of_records)
write_on_csvfile()
read_csvfile()

 StudentId       StudentName           City       Contact_Number

     11           Jay Patel            Surat        9510500989
     12          Shree Rajput         Mumbai        9511100989
     14            Om Vyas             Surat        9911500989
     13       Krishna Prajapati        Delhi        9510522989
     15          Shiv Pandya           Surat        9712530989
     16        Radhika Jaiswal        Bardoli       7989675432
     17          Sweta Patel           Surat        9923783333
     18          Rohit Pandey         Valsad        7989654323
     19          Rohit Sharma         Mumbai        9995671050
     20          Subham Gill         Vadodara       9932334565